---
title: SVX Sample
date: 2019-05-01
tags: Tech
---

```js exec
import { onDestroy } from 'svelte';
let x = 0;
let t = setInterval(() => x += 1, 1000);
onDestroy(() => clearInterval(t));
```

This is something

{x}

