@import './fonts.css';
@import 'highlight.js/styles/vs.css';
@import './katex.css';
@import './syntect.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  * {
    position: relative;
  }

  body {
    font-family: 'Inter', 'Open Sans', 'Helvetica', 'Verdana', sans-serif;
    font-size: 16px;
  }

  .content {
    max-width: min(65ch, 95vw);
    @apply ml-auto mr-auto;
  }

  article {
    max-width: min(65ch, 95vw);
    @apply ml-auto mr-auto w-full;
  }

  @supports selector(:has(pre:first-child)) {
    article ul > li:has(> pre:first-child) {
      list-style-type: none;
      padding-left: 0;
    }

    article ul > li:has(> blockquote:first-child) {
      list-style-type: none;
    }
  }

  article .content.no-indent > ul,
  article .content.no-indent > ol {
    @apply ml-0 pl-4;
  }

  article p > img:only-child {
    @apply mx-auto;
  }

  a code {
    @apply underline;
  }

  article table {
    @apply inline-block overflow-hidden border-b border-gray-200 align-middle font-sans shadow;
  }

  article table th {
    @apply border-b border-gray-200 bg-gray-50 px-6 py-3 text-left text-xs font-medium uppercase leading-4 tracking-wider text-gray-500;
  }
  article table td {
    @apply whitespace-nowrap px-6 py-4 text-sm font-medium leading-5 text-gray-900;
  }

  @screen sm {
    article table {
      @apply rounded-lg;
    }
  }

  hr.footnotes-sep {
    @apply mt-8;
  }

  a {
    @apply text-teal-700;
  }

  a:hover {
    text-decoration: underline;
  }

  svg .primary {
    fill: #b2f5ea;
  }

  svg .secondary {
    fill: #2c7a7b;
    color: #2c7a7b;
  }

  .hljs-addition {
    @apply text-green-600;
  }

  .hljs-deletion {
    @apply text-red-600;
  }

  article aside.note {
    @apply border border-gray-300 bg-teal-100 bg-opacity-75 px-4 py-4 text-sm;
  }

  article aside.warn {
    @apply border border-gray-300 bg-yellow-100 bg-opacity-75 px-4 py-4 text-sm;
  }

  div.responsive-svg {
    @apply my-4 mx-auto w-full;
  }

  @screen sm {
    div.responsive-svg {
      @apply w-3/4;
    }
  }

  @screen md {
    div.responsive-svg {
      @apply w-1/2;
    }
  }

  /* From https://css-tricks.com/full-width-containers-limited-width-parents/ */
  .w-expanded-95 {
    width: 95vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -47.5vw;
    margin-right: -47.5vw;
  }

  /* Mobile styling */
  .side-by-side {
    display: block;
    @apply my-4;
  }

  .code-and-image {
    display: block;
    @apply my-4;
  }
}

@screen sm {
  html {
    article ul li,
    article ol li {
      @apply list-outside;
    }

    article > ul > li,
    article > ol > li {
      @apply ml-0;
    }

    blockquote {
      @apply -ml-4 pl-6 pr-0;
    }

    pre > code {
      @apply whitespace-pre-wrap;
    }
  }
}

@screen md {
  html {
    .code-and-image {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: start stretch;
      width: 95vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: max(-47.5vw, -70ch);
      margin-right: max(-47.5vw, -70ch);
      max-width: 140ch;
      gap: 1rem;
    }

    .code-and-image > *:first-child {
      place-self: start end;
    }

    .code-and-image > *:last-child {
      place-self: start start;
    }

    .code-and-image > pre {
      min-width: 21rem;
    }

    .code-and-image > *,
    .code-and-image img,
    .code-and-image picture {
      margin: 0;
    }

    .side-by-side {
      display: grid;
      grid-template-columns: minmax(30%, 60ch) minmax(70%, 1fr);
      width: 95vw;
      position: relative;
      left: 50%;
      right: 50%;
      @apply my-8;
      margin-left: max(-47.5vw, -70ch);
      margin-right: max(-47.5vw, -70ch);
      max-width: 140ch;

      & > * {
        @apply border-t border-dotted border-gray-400;
      }

      .left {
        @apply mb-4 pr-2;

        ul > li,
        ol > li {
          @apply list-inside;
        }
      }

      pre {
        @apply h-full w-full;
      }

      pre > code {
        @apply my-0 block h-full w-full overflow-x-auto whitespace-pre-wrap bg-gray-200 px-4 py-0 text-black shadow-none;
      }
    }
  }
}

article .has-component > *:not(:last-child) {
  display: none;
}

/*
.pkm-page {
  ul,
  ol {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  li {
    @apply my-2;
  }

  ul.list-document > li {
    list-style: none;
    @apply my-4;
  }

  blockquote {
    @apply ml-0 px-3;
  }

  li ul > li,
  li ol > li {
    margin-left: 2rem;
  }
}
*/
